:root{
    --mainDark: #343a40 ;
    --mainGrey: rgba(109,109,109);
    --mainLightGrey : rgba(172,172,172);
    --mainWhite: #fff;
    --mainBlue: #007bff;

}
.footer-middle{
    background: var(--mainBlue);
    padding-bottom: 2rem;
    color: var(--mainWhite);
    font-family: Arial;
}
a{
    color:white;
}
a:hover{
    color:red;
}
.Advise{
    color:black;
    font-style: normal;
}