.contain{
font: 13px/20px PTSansRegular,Arial,Helvetica,sans-serif;
font-family: Roboto, Arial, Helvetica, sans-serif;
font-weight: 400;
letter-spacing: 0px;
font-style: normal;
line-height: 1.7;
color: #5c6770;
box-sizing: border-box;
background-size: cover;
position: relative;

widows: 1906px;
height:680px;
background-color: rgba(255,255,255,0);
background-image: url("../../image/hellocare-patient.jpg");
background-position: center top;
background-repeat: no-repeat;
padding-top: 10%;
padding-right: 30px;
padding-bottom: 10%;
padding-left: 10px;
}
.text3{
    font: 13px/20px PTSansRegular,Arial,Helvetica,sans-serif;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-weight: 400;
    letter-spacing: 0px;
    font-style: normal;
    line-height: 1.7;
    color: #5c6770;
    box-sizing: border-box;
    background-size: cover;
    position: relative;
    
    widows: 1906px;
    height:680px;
    background-color: rgba(255,255,255,0);
    background-image: url("../../image/hellocare-patient.jpg");
    background-position: center top;
    background-repeat: no-repeat;
    padding-top: 10%;
    padding-right: 30px;
    padding-bottom: 10%;
    padding-left: 10px;
    }
    .text3{
        font: 13px/20px PTSansRegular,Arial,Helvetica,sans-serif;
    visibility: visible;
    box-sizing: border-box;
    -webkit-box-flex: 0;
    flex-grow: 0;
    font-family: "Varela Round", Verdana, Geneva, sans-serif;
    font-weight: 200;
    line-height: 1.25;
    letter-spacing: -2px;
    font-style: normal;
    font-size: 50px;
    padding: 0;
    text-align: left;
    padding-left: 0;
    padding-right: 0;
    margin-left: 150px ;
}
button{
    margin-left: 150px ;
}
