#barnav
{
  background: linear-gradient(145deg,#57c985,#184f68);
  padding-top: 0;
  overflow-y: auto;
  font-size: 1rem;
  z-index: 10;
  position: fixed;
  line-height: 7rem;
}
#navelt{
  padding: 2.7rem;
  width: 7.4rem;
  height: 7.4rem;
}
#barre{
  height: 40px;
  left:0;
  top: 0;
  width : 10rem;
  display: block ;
  transform: translate3d(-32.6rem,0,0);
}
#head {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  border-bottom: 1px solid #d8d8d8;
  font-size: 1.4rem;
  font-weight: 300;
  position: static;
  top: 7rem;
  background-color: #fff;
  z-index: 90;
}