*{
    padding : 0;
    margin: 0;
    box-sizing: border-box;
}
.containe{
    width:100vw;
    height: 100vh;
    display:grid;
    background-color: rgb(0,253,253) ;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 7rem;
    padding: 0 2rem;
}
.img{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.img img{
    width: 500px;
}
.login-container{
    display: flex;
    align-items: center;
    text-align: center;
    margin-left: 150px;
}
form{
    width: 360px;
}
form h2{
    font-size: 1.9rem;
    text-transform: uppercase;
    margin-right: 40px;
    color: black;
}
.avatar{
    margin-right: 40px;
    width: 100px;
}
.input-div{
    position: relative;
    display: grid;
    grid-template-columns: 7% 93%;
    margin: 25px 0;
    padding: 5px 0;
}
.email{
    position: absolute;
    border :solid 2px red;
    padding-top: 8px;
    padding-bottom: 8px;
     margin-top: 4%;
       width :300px;
       border-left: none;
     border-right: none;
     border-top: none;
     background-color: transparent;
     font-size: 0.85em;
}
.mdp{
    position: absolute;
    border :solid 2px red;
    padding-top: 8px;
    padding-bottom: 8px;
     margin-top: 4%;
       width :300px;
       border-left: none;
     border-right: none;
     border-top: none;
     background-color: transparent;
     font-size: 0.85em;
}
.input-div.one{
    margin-top: 0;
}
.input-div.two{
    margin-bottom: 4px;
}
.input-div > div{
    position: relative;
    height: 45px;
}
.lglk{
    display: block;
    text-align: center;
    margin-right: 40px;
    text-decoration: underline;
    color: blue;
    font-size: 0.9rem;
    transition: .3s;
}
.lglk:hover{
    color:red;
}
.login{
    display: block;
    width: 60%;
    height: 40px;
    border-radius: 10px;
    margin-left: 40px;
    font-size: 1.2rem;
    outline: none;
    border:none;
    background-image: linear-gradient(to right,rgb(123, 233, 123),rgb(123, 233, 123),rgb(123, 233, 123));
    cursor:pointer;
    color:#fff;
    background-size: 100%;
    transition: .5s;
}
.login:hover{
    color : black;
}
@media screen and (max-width: 1050px){
    .containe{
        grid-gap: 5rem;
    }
}

@media screen and (max-width: 1000px){
    form{
        width:290px;
    }

    form h2{
        font-size: 2.4rem;
        margin: 8px 0;
    }

    .img img{
        width: 400px;
    }
}
@media screen and (max-width: 900px){
    .img{
        display: none;
    }
    .containe{
        grid-template-columns: 1fr;
    }
    .wave{
        display: none;
    }
    .login-container{
        justify-content:center;
    }
}
