<<<<<<< HEAD
html, body {
    min-height: 100%;
    }
    body, div, form, input, select, textarea, p { 
    padding: 0;
    outline: none;
    font-family: Roboto, Arial, sans-serif;
    font-size: 14px;
    color: #666;
    line-height: 22px;
    }
    h1 {
    position: absolute;
    margin: 0;
    font-size: 38px;
    color: #fff;
    z-index: 2;
    }
    .testbox {
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
    padding: 20px;
    }
    
    .banner {
=======
.content{
    background: linear-gradient(145deg,#284132,#a0a8ac);
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 35px;
}
.form-box{
    justify-content: center;
    align-items: center;
    font-family: Arial;
    padding-left: 10rem;
    width: 100%;
    height: 100vh;
}
.img-div{
>>>>>>> f67313fc34587786cc01f99abe77cdf067f0f425
    position: relative;
    height: 210px;
    background-image: url("/uploads/media/default/0001/01/b42dddca6e6a31b300c6ce26cb9dcac565b2f869.jpeg");  
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
<<<<<<< HEAD
    text-align: center;
    }
    .banner::after {
    content: "";
    background-color: rgba(0, 0, 0, 0.3); 
=======
    width: 450px;
    border-radius: 5px;
    box-shadow: 0 5px 15px 1px rgba(0, 0,0,0.1) ;
    overflow: hidden;
    margin-left: 300px;    
}
.img-div:before{
    content: '';
    position: absolute;
    width: 100%;
    height: 300px;
    top:0;
    left: 0;
    background-image: linear-gradient(to top, #00F2FE, #4FaCFE);
    clip-path: circle(400px at 50% -48.5%);
}
.profil{
    position: relative;
    height: 265px;
}
.nom1:hover{
    opacity: 1;
}
.main{
>>>>>>> f67313fc34587786cc01f99abe77cdf067f0f425
    position: absolute;
    width: 100%;
    height: 100%;
    }
    input, select, textarea {
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    }
    input {
    width: calc(100% - 10px);
    padding: 5px;
    }
    input[type="date"] {
    padding: 4px 5px;
    width: calc(100% - 10px);

    }
    select {
    width: 100%;
    padding: 7px 0;
    background: transparent;
    }
    textarea {
    width: calc(100% - 12px);
    padding: 5px;
    }
    .item:hover p, .item:hover i, .question:hover p, .question label:hover, input:hover::placeholder {
    color: #892e9b;
    }
    .item input:hover, .item select:hover, .item textarea:hover {
    border: 1px solid transparent;
    box-shadow: 0 0 6px 0 #892e9b;
    color: #892e9b;
    }
    .item {
    position: relative;
    margin: 10px 0;
    }
    input[type="date"]::-webkit-inner-spin-button {
    display: none;
    }
    .item i, input[type="date"]::-webkit-calendar-picker-indicator {
    position: absolute;
    font-size: 20px;
    color: #a9a9a9;
    }
    .item i {
    right: 2%;
    top: 30px;
    z-index: 1;
    }
    [type="date"]::-webkit-calendar-picker-indicator {
    right: 1%;
    z-index: 2;
    opacity: 0;
<<<<<<< HEAD
    cursor: pointer;
    }
    input[type=checkbox]  {
    display: none;
    }
    label.radio {
    position: relative;
    display: inline-block;
    margin: 5px 20px 15px 0;
    cursor: pointer;
    }
    .question span {
    margin-left: 30px;
    }
    label.radio:before {
    content: "";
    position: absolute;
    left: 0;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    border: 2px solid #ccc;
    }
    input[type=radio]:checked + label:before, label.radio:hover:before {
    border: 2px solid #892e9b;
    }
    label.radio:after {
    content: "";
    position: absolute;
    top: 6px;
    left: 5px;
    width: 8px;
    height: 4px;
    border: 3px solid #892e9b;
    border-top: none;
    border-right: none;
    transform: rotate(-45deg);
    opacity: 0;
    }
    input[type=radio]:checked + label:after {
    opacity: 1;
    }
    .btn-block {
    margin-top: 10px;
    text-align: center;
    }
    button {
    width: 150px;
    padding: 10px;
    border: none;
    border-radius: 5px; 
    background: #892e9b;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
    }
    button:hover {
    background: #b52ed1;
=======
}
.photo:hover .hover{
    opacity: 1;
}
.nom1{
    font-size: 1.2rem;
    color: #fff;
    font-weight: 500;
    line-height: 1;
    margin: 5px 0;
}
.prenom1{
    font-size: 1.2rem;
    opacity: .8;
    color: #fff;
}
.right{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: flex-end;
    justify-content: space-between;
    margin-left: 1rem;
    padding: 30px;
}
#titre{
    position:relative;
    padding-bottom: 1.2rem;
    margin-bottom: 3.5rem;
    font-family: Arial;
    font-size: 2rem;
    font-weight: 700;
    color: #1F1F1F;
}
#titre:after{
    content: " ";
    left: 0;
    bottom: .2rem;
    position: absolute;
    height: .5rem;
    width: 14rem;
    background-color: #27d7ab;
}
@media screen and (max-width: 460px){
    .content{
        width: 100%;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .form-box{
        align-items: center;
        justify-content: center;
    }
    .form-box input{
        width: 100%;
        box-sizing: border-box;
    }
    .profil{
        height: 230px;
>>>>>>> f67313fc34587786cc01f99abe77cdf067f0f425
    }
    @media (min-width: 568px) {
    .name-item, .city-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    }
    .name-item input, .city-item input {
    width: calc(50% - 20px);
    }
<<<<<<< HEAD
    .city-item select {
    width: calc(50% - 8px);
    }
    }
    #profPatient{
    width: 120%;
    margin-left: 50px;
    padding: 20px;
    border-radius: 6px;
    background: #fff;
    box-shadow: 0 0 25px 0 #892e9b; 
        
    }
    #save {
        width: 150px;
        padding: 10px;
        border: none;
        border-radius: 5px; 
        background: #892e9b;
        font-size: 16px;
        color: #fff;
        cursor: pointer;
    }
=======
    .nom1, .prenom1{
        font-size: 1rem;
    }
    .right{
        padding-top: 1rem;
    }
}
@media screen and (max-width: 760px){
    .content{
        width: 100%;
        height: 100vh;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .form-box{
        align-items: center;
        justify-content: center;
    }
    .form-box input{
        width: 100%;
        box-sizing: border-box;
    }
}
@media screen and (max-width: 900px){
    /*.content{
        width: 100%;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }*/
    .form-box{
        align-items: center;
        justify-content: center;
    }
    .form-box input{
        width: 100%;
        box-sizing: border-box;
    }
    .img-div{
        width: 400px;
        margin-left: 10px;
    }
}
@media screen and (max-width: 380px){
    .content{
        width: 100%;
        height: 100%;
    }
    .img-div{
        width: 300px;
        margin-left: 5px;
    }
}
@media screen and (max-width: 320px){
    .img-div{
        width: 210px;
        margin-left: 5px;
        height: 100vh;
    }
    .content{
        height: 100%;
        width: 100%;
    }
}
@media screen and (max-width: 410px){
    .img-div{
        width: 300px;
        margin-left: 5px;
        height: 100vh;
    }
    .content{
        width: 100%;
        height: 100%;
    }
}
@media screen and (max-width: 690px){
    .img-div{
        width: 300px;
        margin-left: 10px;
        height: 100vh;
    }
    .content{
        width: 100%;
        height: 100%;
    }
}
@media screen and (max-width: 1024px){
    .img-div{
        width: 300px;
        margin-left: 5px;
        height: 100vh;
    }
    .content{
        width: 100%;
        height: 100%;
    }
}
>>>>>>> f67313fc34587786cc01f99abe77cdf067f0f425
