<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>accueil</title>
<link rel="stylesheet" href="{{ url_for('static', filename='csssss/index.css') }}" type="text/css">
  <!--<script src="script.js"></script> -->
</head>
<body>
<header>
<a href="/urgence">urgence</a>
</header>

<div class="div">
<p>s'inscrire en tant que patient</p>
</div>
<div class="div">
	<form method="POST" action="/inscription" key = "oui">
		nom <input type "text" name="nom"/>
		<br>
		prenom <input type="text" name ="prenom"/>
		<br>
		email <input type="text" name ="email"/>
		<br>
		medecin <input type="text" name ="medecin"/>
		<br>
		<input type="submit" value="envoyer">
	</form>
</div>
<div class="div">
<p>recherche de patient</p>
</div>
<div class="div">
<form method="POST" action="/ask" key="test">
		nom <input type ="text" name="rech"/>
		<br>
		<input type="submit" value="recherche dans la db">
	</form>
</div>
<div class="div">
<p>s'inscrire en tant que médecin</p>
</div>
<div class="div">
	<form method="POST" action="/inscription_m" key = "oui">
		nom <input type "text" name="nom_m"/>
		<br>
		prenom <input type="text" name ="prenom_m"/>
		<br>
		spécialité <input type="text" name ="specialite"/>
		<br>
		<input type="submit" value="envoyer">
	</form>
</div>
<div class="div">
<p>recherche de médecin</p>
</div>
<div class="div">
<form method="POST" action="/ask_m" key="test">
		nom <input type ="text" name="rech_m"/>
		<br>
		<input type="submit" value="recherche dans la db">
	</form>
</div>
</body>
</html>