<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>inscription</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='csssss/index.css') }}" type="text/css"">

<!--  <link rel="stylesheet" href="style.css">
  <script src="script.js"></script> -->
</head>
<body>

<div class="div">
<h1>bienvenue</h1>
</div>
<table>
<tr>
<td>Nom</td>
<td>{{userDetails.nom}}</td>
</tr>
<tr>
<td>Prenom</td>
<td>{{userDetails.prenom}}</td>
</tr>
<tr>
<td>email</td>
<td>{{userDetails.email}}</td>
</tr>
<tr>
<td>medecin</td>
<td>{{medecin}}</td>
</tr>

</table>
<div>
<a href = "/" >
ajouter un nouveau patient...
</a>
</div>
</body>
</html>
<!--{%for i in userDetails %}
<tr>
<td>{{i.nom}}</td>
</tr>
{% endfor %}
-->