  .profile {
    margin: 20px 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  #medecin{
    padding: 20px 0 10px 0;
    border: 1px solid rgb(32, 47, 134);
    border-radius: 2%;
    background: rgb(119, 234, 238);
    display: inline;
    height: 100%;
  }
  #patient{
    padding: 20px 0 10px 0;
    border: 1px solid rgb(32, 47, 134);
    border-radius: 2%;
    background: rgb(119, 234, 238);
    display: inline;
    height: 100%;
  }

  .profile-usertitle {
    text-align: center;
    margin-top: 20px;
  }
  
  .profile-usertitle-name {
    color: #5a7391;
    font-size: 16px;
    font-weight: 600;
    margin: 28px;
  }
  
  .profile-usertitle-job {
    text-transform: uppercase;
    color: #5b9bd1;
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 15px;
  }
  .profile-userbuttons{
    display: grid;
    padding-right: 100px;
  }
  .profile-userbuttons button{
    display: flex;
  }
  
  #contPat{
    padding: 10px;
    background: linear-gradient(145deg,#f7b6a5,#e0e7e9);
    min-height: 460px;
    border-radius: 2%;
    border: 1px solid black;
  }
  #contMed{
    padding: 10px;
    background: linear-gradient(145deg,#b7f1ce,#d5e6ee);
    min-height: 460px;
    border-radius: 2%;
    width: 100%;
    border: 1px solid black;
  }
 #message{
   width: 200px;
   color:white;
 }
 #msgPatient{
   margin-left: 100px;
 }
 #msgMedecin{
  margin-left: 100px;
 }